<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.harsha.harshaapp">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <supports-screens
        android:largeScreens="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DesignDemo">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Login"
            android:label="Login"
            android:noHistory="true"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName="com.harsha.harshaapp.WelcomeActivity"
            android:theme="@style/Theme.DesignDemo">
            <intent-filter>
                <action android:name="com.harsha.harshaapp.Login" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.harsha.harshaapp.WelcomeActivity" />
        </activity>

        <activity
            android:name=".ForgotPassword"
            android:label="Forgot Password"
            android:noHistory="true"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/Theme.DesignDemo">
            <intent-filter>
                <action android:name="com.harsha.harshaapp.ForgotPassword" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ManagerHome"
            android:label="Home"
            android:noHistory="true"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName="com.harsha.harshaapp.ForgotPassword"
            android:theme="@style/Theme.DesignDemo">
            <intent-filter>
                <action android:name="com.harsha.harshaapp.ManagerHome" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.harsha.harshaapp.ForgotPassword" />
        </activity>

        <activity
            android:name=".ManagerBaselineInformation"
            android:label="Baseline Information"
            android:noHistory="false"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName="com.harsha.harshaapp.ManagerHome"
            android:theme="@style/Theme.DesignDemo">
            <intent-filter>
                <action android:name="com.harsha.harshaapp.ManagerBaselineInformation" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.harsha.harshaapp.ManagerHome" />
        </activity>

        <activity
            android:name=".ManagerImpactArea"
            android:label="Impact Area"
            android:noHistory="false"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName="com.harsha.harshaapp.ManagerHome"
            android:theme="@style/Theme.DesignDemo">
            <intent-filter>
                <action android:name="com.harsha.harshaapp.ManagerImpactArea" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.harsha.harshaapp.ManagerHome" />
        </activity>

        <activity
            android:name=".ManagerProfile"
            android:label="My Profile"
            android:noHistory="false"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName="com.harsha.harshaapp.ManagerHome"
            android:theme="@style/Theme.DesignDemo">
            <intent-filter>
                <action android:name="com.harsha.harshaapp.ManagerProfile" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.harsha.harshaapp.ManagerHome" />
        </activity>

        <activity
            android:name=".ManagerChangePassword"
            android:label="Change Password"
            android:noHistory="false"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName="com.harsha.harshaapp.ManagerHome"
            android:theme="@style/Theme.DesignDemo">
            <intent-filter>
                <action android:name="com.harsha.harshaapp.ManagerChangePassword" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.harsha.harshaapp.ManagerHome" />
        </activity>

        <activity
            android:name=".ManagerAddress"
            android:label="Address"
            android:noHistory="false"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName="com.harsha.harshaapp.ManagerHome"
            android:theme="@style/Theme.DesignDemo">
            <intent-filter>
                <action android:name="com.harsha.harshaapp.ManagerAddress" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.harsha.harshaapp.ManagerHome" />
        </activity>

        <activity
            android:name=".ManagerServerUpload"
            android:label="Server Data Upload"
            android:noHistory="false"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName="com.harsha.harshaapp.ManagerHome"
            android:theme="@style/Theme.DesignDemo">
            <intent-filter>
                <action android:name="com.harsha.harshaapp.ManagerServerUpload" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.harsha.harshaapp.ManagerHome" />
        </activity>

        <activity
            android:name=".Home"
            android:label="Home"
            android:noHistory="false"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName="com.harsha.harshaapp.Login"
            android:theme="@style/Theme.DesignDemo">
            <intent-filter>
                <action android:name="com.harsha.harshaapp.Home" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.harsha.harshaapp.Login" />
        </activity>

        <activity
            android:name=".BaselineInformation"
            android:label="Baseline Information"
            android:noHistory="false"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName="com.harsha.harshaapp.Home"
            android:theme="@style/Theme.DesignDemo">
            <intent-filter>
                <action android:name="com.harsha.harshaapp.BaselineInformation" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.harsha.harshaapp.Home" />
        </activity>

        <activity
            android:name=".FamilyInformation"
            android:label="Family Information"
            android:noHistory="false"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName="com.harsha.harshaapp.Home"
            android:theme="@style/Theme.DesignDemo">
            <intent-filter>
                <action android:name="com.harsha.harshaapp.FamilyInformation" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.harsha.harshaapp.Home" />
        </activity>

        <activity
            android:name=".CreateBaselineInformation"
            android:label="Create Baseline Information"
            android:noHistory="false"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName="com.harsha.harshaapp.Home"
            android:theme="@style/Theme.DesignDemo">
            <intent-filter>
                <action android:name="com.harsha.harshaapp.CreateBaselineInformation" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.harsha.harshaapp.Home" />
        </activity>

        <activity
            android:name=".UpdateBaselineInformation"
            android:label="Update Baseline Information"
            android:noHistory="false"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName="com.harsha.harshaapp.BaselineInformation"
            android:theme="@style/Theme.DesignDemo">
            <intent-filter>
                <action android:name="com.harsha.harshaapp.UpdateBaselineInformation" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.harsha.harshaapp.BaselineInformation" />
        </activity>

        <activity
            android:name=".AddMemberInformation"
            android:label="Add Member Information"
            android:noHistory="false"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName="com.harsha.harshaapp.BaselineInformation"
            android:theme="@style/Theme.DesignDemo">
            <intent-filter>
                <action android:name="com.harsha.harshaapp.AddMemberInformation" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.harsha.harshaapp.BaselineInformation" />
        </activity>

        <activity
            android:name=".UpdateMemberInformation"
            android:label="Update Member Information"
            android:noHistory="false"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName="com.harsha.harshaapp.AddMemberInformation"
            android:theme="@style/Theme.DesignDemo">
            <intent-filter>
                <action android:name="com.harsha.harshaapp.UpdateMemberInformation" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.harsha.harshaapp.AddMemberInformation" />
        </activity>

        <activity
            android:name=".ImpactArea"
            android:label="Impact Area"
            android:noHistory="false"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName="com.harsha.harshaapp.Home"
            android:theme="@style/Theme.DesignDemo">
            <intent-filter>
                <action android:name="com.harsha.harshaapp.ImpactArea" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.harsha.harshaapp.Home" />
        </activity>

        <activity
            android:name=".ProjectDetails"
            android:label="Uploads"
            android:noHistory="false"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName="com.harsha.harshaapp.Home"
            android:theme="@style/Theme.DesignDemo">
            <intent-filter>
                <action android:name="com.harsha.harshaapp.ProjectDetails" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.harsha.harshaapp.Home" />
        </activity>

        <activity
            android:name=".MyProfile"
            android:label="My Profile"
            android:noHistory="false"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName="com.harsha.harshaapp.Home"
            android:theme="@style/Theme.DesignDemo">
            <intent-filter>
                <action android:name="com.harsha.harshaapp.MyProfile" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.harsha.harshaapp.Home" />
        </activity>

        <activity
            android:name=".ChangePassword"
            android:label="Change Password"
            android:noHistory="false"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName="com.harsha.harshaapp.Home"
            android:theme="@style/Theme.DesignDemo">
            <intent-filter>
                <action android:name="com.harsha.harshaapp.ChangePassword" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.harsha.harshaapp.Home" />
        </activity>

        <activity
            android:name=".ServerDownload"
            android:label="Server Data Download"
            android:noHistory="false"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName="com.harsha.harshaapp.Home"
            android:theme="@style/Theme.DesignDemo">
            <intent-filter>
                <action android:name="com.harsha.harshaapp.ServerDownload" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.harsha.harshaapp.Home" />
        </activity>

        <activity
            android:name=".ServerUpload"
            android:label="Server Data Upload"
            android:noHistory="true"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName="com.harsha.harshaapp.Home"
            android:theme="@style/Theme.DesignDemo">
            <intent-filter>
                <action android:name="com.harsha.harshaapp.ServerUpload" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.harsha.harshaapp.Home" />
        </activity>

        <activity
            android:name=".Address"
            android:label="Address"
            android:noHistory="false"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName="com.harsha.harshaapp.Home"
            android:theme="@style/Theme.DesignDemo">
            <intent-filter>
                <action android:name="com.harsha.harshaapp.Address" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.harsha.harshaapp.Home" />
        </activity>

    </application>

</manifest>